html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
	address, em, img, strong, tt, dl, dt, dd, ol, ul, li, fieldset, form,
	label, legend, table, caption, tbody, tfoot, thead, tr, th, td, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: middle;
	background: transparent
}

strong {
	font-weight: bold
}

ol, ul {
	list-style: none
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

.fclear {
	clear: both
}

.fleft {
	float: left
}

.fright {
	float: right
}

.aright {
	text-align: right
}

.aleft {
	text-align: left
}

.acenter {
	text-align: center
}

html {
	font: normal 75%/1em Arial, Helvetica, sans-serif
}

body {
	color: #555;
	background-color: #fff;
	font-size: 1em;
	min-height: 600px
}

a {
	color: #009158;
	text-decoration: none;
	font-weight: normal;
	font-style: normal
}

img {
	border: 0
}

h1 {
	font-size: 1.7em;
	font-weight: bold;
	padding: 8px 0
}

h2 {
	font-size: 1.5em
}

h3 {
	background: none repeat scroll 0 0 #efeff0;
	margin: 0;
	padding: 0 0 0 10px;
	font-size: 1.167em;
	line-height: 2em;
	font-weight: bold;
	letter-spacing: 1px;
	color: #00a65c
}

h4 {
	font-weight: bold;
	font-size: 1.1em;
	color: #000;
	text-align: left
}

h5 {
	font-size: 1.167em;
	font-weight: bold;
	padding: 10px 0
}

hr {
	background-color: #e0e0e0;
	height: 1px;
	border: 0;
	color: #e0e0e0;
	margin: 3px 0
}

form {
	padding: 0;
	margin: 0
}

table {
	empty-cells: show
}

p {
	margin-bottom: 1em;
	font-size: 1.1em;
	line-height: 1.5em;
	margin-left: 10px;
	margin-right: 5px
}

p.prieto {
	margin: 5px 0;
	padding: 0
}

.alinIzq {
	float: left
}

.alinIzqVMedio {
	float: left;
	vertical-align: middle
}

.alinDer {
	float: right;
	vertical-align: middle
}

.cursiva {
	font-style: italic
}

.subrayado {
	text-decoration: underline
}

.resalte {
	font-weight: bold
}

.noborde {
	border: 0
}

.txtIzq {
	text-align: left
}

.txtCen {
	text-align: center
}

.txtDer {
	text-align: right
}

.top10 {
	margin-top: 10px
}

.top30 {
	margin-top: 30px
}

.top50 {
	margin-top: 50px
}

.bottom10 {
	margin-bottom: 10px
}

.bottom30 {
	margin-bottom: 30px
}

.bottom50 {
	margin-bottom: 50px
}

.left10 {
	margin-left: 10px
}

.left30 {
	margin-left: 30px
}

.left50 {
	margin-left: 50px
}

.right10 {
	margin-right: 10px
}

.right30 {
	margin-right: 30px
}

.right50 {
	margin-right: 50px
}

.oculto {
	visibility: hidden;
	display: none
}

.corta {
	clear: left
}

.espaciado {
	margin: 20px
}

.salto {
	display: block
}

.saltoRes {
	display: block;
	font-weight: bold
}

.seguido {
	display: inline
}

.seguidoDer {
	display: inline;
	padding-right: 5px
}

.capaAcceso {
	float: left;
	width: 47%
}

.capaAccesoContenido {
	border: solid 1px #eee;
	min-height: 80px;
	overflow: hidden
}

.inputCajaP {
	border-color: #979694;
	border-style: solid;
	height: 20px;
	width: 150px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #605e5f;
	background-color: #fff
}

.labelLogin {
	float: left;
	width: 90px;
	font-weight: bold
}

#container {
	margin: 0 auto;
	min-height: 180px
}

#contenedorHeader {
	background-color: #fff;
	margin: 0 10px
}

#contenidoHeader {
	position: relative;
	background: url(../img/fondoCabecera.png) repeat-x bottom left;
	margin: 0 10px;
	padding-bottom: 31px
}

#tituloCabecera {
	font-size: .95em;
	margin-left: 100px;
	padding: 15px 1px 5px 1px
}

#logoEntidad {
	position: absolute;
	right: 2em;
	margin-top: 10px
}

.imagenLogo {
	float: left;
	margin-bottom: 5px
}

#solapatop {
	background: url(../img/topsolapa.gif) no-repeat top;
	margin-left: 32px;
	width: 265px;
	height: 55px;
	float: left
}

#idioma {
	float: left;
	font-size: .95em;
	margin-left: 80px;
	padding-top: 15px;
	width: 650px
}

#idioma li {
	border-right: 1px solid #555;
	display: inline-block;
	margin: 0;
	padding-right: 3px
}

#idioma li.last {
	border-right: 0 none
}

#idioma li a {
	text-decoration: underline
}

.titulo {
	color: #FFF;
	font-size: 2.0;
	font-weight: bold;
	letter-spacing: 1px;
	white-space: nowrap
}

.subtitulo {
	color: #CCC;
	font-size: 1.8em;
	letter-spacing: .1em
}

#menutop {
	float: right;
	width: 10em;
	margin-top: 2px;
	height: 28px;
	padding: 0;
	background: url(../img/bgtopmenu.gif) repeat-x top;
	border: solid 1px #CCC;
	vertical-align: middle
}

#menutop ul li {
	display: inline
}

#menutop a {
	font-size: 1.7em;
	color: #4f4f4f;
	text-decoration: none;
	cursor: pointer
}

#menutop a:hover, #menutop a:visited {
	color: #f60
}

.topbot {
	height: 20px;
	padding-right: 10px;
	padding-top: 5px
}

.topbot :last-child {
	border-left: 1px solid #e0e0e0;
	padding-left: 10px;
	vertical-align: middle
}

.funcionario {
	background-image: url(../img/icon-fun.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 30px
}

.cerrar {
	background-image: url(../img/icon-cerrar.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 30px
}

#solapaMenu {
	float: left;
	margin: 0;
	padding: 0;
	width: 197px;
	border: 3px
}

#menu {
	float: left;
	margin-left: 20px;
	width: 231px;
	padding: 0
}

#menu li {
	font-weight: bold;
	margin-bottom: 15px
}

#menu li a {
	color: #555 !important
}

#menu li .sel {
	color: #000 !important;
	text-decoration: none
}

#menu li a.submenu {
	text-decoration: none;
	color: #000 !important;
	text-decoration: none
}

#menu li div.cont-submenu {
	margin-left: 20px;
	margin-top: 2px;
	padding-bottom: 1px
}

#menu li div.cont-submenu ul {
	padding-top: 1px
}

#menu li div.cont-submenu li a {
	border-bottom: 0;
	color: #555 !important
}

#menu li div.cont-submenu li a:hover {
	text-decoration: underline !important
}

#menu li div.cont-submenu li .sel, #menu li div.cont-submenu li .sel {
	color: #000 !important;
	text-decoration: none !important
}

.box1 {
	margin-bottom: 15px;
	float: right
}

.box1_bot {
	background: url(../img/bg_bot_box1.png) no-repeat left bottom;
	padding-bottom: 6px;
	padding-top: 8px;
	width: 232px
}

.box1_top {
	background: url(../img/bg_top_box1.png) no-repeat left top;
	height: 8px
}

.box1_mid {
	padding: 5px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	overflow: auto
}

.box1_mid a {
	display: block;
	margin: 5px 0 0 0;
	float: left;
	font-size: .9em
}

.box1_mid ul {
	float: left;
	clear: left;
	margin-top: 5px
}

.acceso {
	line-height: 2em;
	font-size: 1.3em
}

.acceso a, .acceso a:visited {
	font-weight: bold;
	padding-left: 30px;
	color: #00a65c;
	cursor: pointer
}

.cal, .admin, .ent, .nif, .log, .idioma {
	background-repeat: no-repeat;
	background-position: top left;
	width: 190px;
	height: auto;
	padding: 0 0 0 30px;
	margin-bottom: 0 !important;
	line-height: 24px
}

.cal {
	background-image: url(../img/icon-calendario.gif);
	background-repeat: no-repeat;
	vertical-align: top
}

.admin {
	background-image: url(../img/icon-adm.gif);
	background-repeat: no-repeat;
	vertical-align: top
}

.ent {
	background-image: url(../img/icon-ent.gif);
	background-repeat: no-repeat;
	vertical-align: top
}

.nif {
	background-image: url(../img/icon-nif.gif);
	background-repeat: no-repeat;
	vertical-align: top
}

.log {
	background-image: url(../img/icon-key.gif);
	background-repeat: no-repeat;
	vertical-align: top
}

.idioma {
	font-size: .9em;
	font-weight: bold !important;
	line-height: 1em;
	text-transform: uppercase
}

.idioma ul {
	line-height: 1em;
	margin: 0;
	padding: 0
}

.tiTab3 {
	background: url(../img/bg_line.png) repeat-x 0 bottom;
	font-size: 1.5em;
	padding-bottom: 5px;
	font-weight: bold;
	display: block
}

#logoOfElectro {
	margin: 0 0 10px 10px
}

.informacionCaja {
	font-size: 1.5em;
	text-transform: none
}

#cuerpo {
	border: 0;
	margin: 10px 10px 0 261px;
	padding: 0 10px;
	min-height: 580px;
	background: url(../img/bg_central.gif) repeat-y 0 10px;
	overflow: hidden
}

#cabecera {
	background: url(../img/topdeg.gif) repeat-x top;
	height: 40px
}

#titlecab {
	margin-bottom: 6px;
	padding: 9px 0 12px;
	width: 100%
}

#titlecab h2 {
	color: #00a65c;
	font-size: 1.6em;
	line-height: 1em;
	padding-left: 25px
}

#cabecera ul li {
	display: inline
}

.sublevel {
	font-size: 1.6em;
	color: #666;
	text-transform: none;
	padding-left: .4em;
	border-left: 1px solid #bababa
}

.centrarContenidoTabla {
	text-align: center
}

.tabla_contenedor {
	width: 90%;
	padding-left: 10px;
	padding-bottom: 6px
}

.tabla_contenedor50 {
	width: 50%;
	margin-left: 20px;
	padding-bottom: 6px
}

.tabla_contenido {
	padding: 10px
}

.tabla_contenido_primera {
	border: solid 1px #eee;
	font-size: 1.1em;
	vertical-align: middle
}

.tabla_contenido_ultima {
	border-top: none 0 #eee;
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
	border-bottom: solid 1px #eee;
	font-size: 1.1em;
	vertical-align: middle;
	padding: 2px
}

.tabla_contenido_intermedia {
	border-top: none 0 #eee;
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
	border-bottom: solid 1px #eee;
	font-size: 1.1em;
	vertical-align: middle;
	padding: 2px
}

.tabla_contenido_final {
	border-top: none 0 #000;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	border-bottom: solid 0 #000;
	font-size: 1.1em;
	vertical-align: middle
}

.tabla_tope {
	background-color: #efeff0;
	color: #00a65c;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	white-space: nowrap
}

.tabla_topeBT {
	background: url(../img/bg-cabTab.gif) top repeat-x;
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	letter-spacing: 1px;
	white-space: nowrap
}

.tabla_topeBT:hover {
	cursor: pointer
}

.tabla_tope2 {
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px
}

.tabla_tope_primera {
	background: url(../img/bg-cabTab.gif) top repeat-x;
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	letter-spacing: 1px;
	white-space: nowrap
}

.tabla_tope_intermedia {
	background: url(../img/bg-cabTab.gif) top repeat-x;
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	letter-spacing: 1px;
	white-space: nowrap
}

.tabla_tope_intermedia_full {
	background: url(../img/bg-cabTab.gif) top;
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	letter-spacing: 1px;
	white-space: nowrap
}

.tabla_tope_ultima {
	background: url(../img/bg-cabTab.gif) top repeat-x;
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 0;
	letter-spacing: 1px;
	white-space: nowrap
}

.tabla_topeBlanco_primera {
	background-color: #FFF;
	color: #000;
	border-top: solid 1px #000;
	border-left: solid 1px #000;
	border-right: none 0 #000;
	border-bottom: none 0 #000;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	letter-spacing: 1px;
	white-space: nowrap
}

.tabla_topeBlanco_intermedia {
	border-top: none 0 #eee;
	border-left: solid 1px #eee;
	border-right: none 0 #eee;
	border-bottom: solid 1px #eee;
	padding: 5px;
	word-wrap: break-word
}

.tabla_topeBlanco_ultima {
	border-top: none 0 #eee;
	border-left: solid 1px #eee;
	border-right: none 0 #eee;
	border-bottom: solid 1px #eee;
	padding: 5px;
	word-wrap: break-word
}

.tabla_tope_listado {
	background: url(../img/bg-cabTab.gif) top repeat-x;
	color: #FFF;
	font-weight: bold;
	font-size: 1.1em;
	text-align: right;
	white-space: nowrap;
	width: 8%;
	padding: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px
}

.tabla_contenido p {
	font-size: 1em;
	margin-left: 0;
	line-height: 1.2em
}

.cabeceraTablaCatalogo {
	font-size: 1.4em;
	padding-left: 2em;
	padding-bottom: 2px;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 15px;
	list-style: none;
	vertical-align: top;
	font-weight: bold;
	background: url(../img/bot_tabla.gif) center left no-repeat;
	width: 90%;
	letter-spacing: 1px;
	white-space: nowrap;
	border-bottom: 1px #ccc dotted
}

caption {
	text-align: left;
	background: none repeat scroll 0 0 #efeff0;
	color: #00a65c;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.5em;
	padding: 5px;
	letter-spacing: 1px;
	white-space: nowrap
}

.caption50 {
	margin-left: 0;
	text-align: left;
	background: url(../img/bg-cabTab.gif) top repeat-x;
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	letter-spacing: 1px;
	white-space: nowrap
}

caption a {
	margin-left: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	letter-spacing: 1px;
	white-space: nowrap
}

caption a:hover {
	text-decoration: underline
}

.tabla_contenido_100 {
	width: 100%
}

.tabla_contenido_50 {
	width: 50%
}

.tabla_contenido_100 td, .tabla_contenido_50 td {
	padding: 5px;
	margin: 0;
	vertical-align: bottom
}

.tabla_contenido_100 p, .tabla_contenido_50 p {
	font-size: 1em;
	padding: 5px;
	margin: 0
}

.tabla_contenido_100 th, .tabla_contenido_50 th {
	padding: 5px 0 2px 5px;
	border-bottom: 1px dotted;
	margin-bottom: 5px;
	text-align: left;
	font-size: 1.2em;
	font-weight: bold
}

.tabla_contenido_100 h4, .tabla_contenido_50 h4 {
	padding: 5px 0;
	margin: 0
}

.tabla_contenido_100 ul {
	padding: 0
}

.tabla_contenido_100 ul li {
	border-bottom: 1px solid #e0e0e0;
	padding-top: 15px;
	padding-bottom: 15px
}

.enlaceDT {
	font-size: 1.2em;
	font-weight: bold
}

.enlaceDT:hover {
	text-decoration: underline
}

.listab {
	font-size: 1.1em;
	line-height: 1.5em;
	padding-left: 2em;
	list-style: none;
	vertical-align: top;
	background: url(../img/bot_tabla.gif) center left no-repeat;
	padding-top: 8px;
	padding-bottom: 8px
}

.listaDoc {
	font-size: 1em;
	line-height: 1.5em;
	padding-left: 3em;
	list-style: none;
	vertical-align: top;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 80%;
	border-bottom: 1px solid #eee;
	float: left
}

.iconosListaDoc {
	border-bottom: 1px solid #eee;
	width: 16%;
	float: left;
	text-align: center
}

.listabHijo {
	left: 40px;
	font-size: 1.2em;
	padding-left: 2em;
	list-style: none;
	vertical-align: top;
	background: url(../img/playbot.gif) center left no-repeat
}

.listabHijo a {
	padding-left: 20px
}

.listabHijo a:hover {
	text-decoration: underline
}

.listabRectangle {
	font-size: 1.1em;
	line-height: 1.2em;
	padding: .7em;
	list-style: none;
	background: url(../img/bot_tabla.gif) 3px center no-repeat;
	border: solid 1px #e0e0e0
}

.listabRectangle a {
	padding-left: 20px
}

.listabRectangleUp {
	font-size: 1.1em;
	line-height: 1.2em;
	padding: .7em;
	list-style: none;
	background: url(../img/bot_tabla.gif) 3px 7px no-repeat;
	border-left: solid 1px #e0e0e0;
	border-top: solid 1px #e0e0e0;
	border-right: solid 1px #e0e0e0;
	border-bottom: solid 1px #e0e0e0
}

.listabRectangleUp span {
	padding-left: 20px;
	font-weight: bold
}

.listabRectangleUp a {
	font-weight: bold;
	padding-left: 20px
}

.listabRectangleUp div {
	margin-left: 25px;
	margin-top: 5px
}

.listabRectangleDown {
	font-size: 1.1em;
	line-height: 1.2em;
	padding: .7em;
	list-style: none;
	border-left: solid 1px #e0e0e0;
	border-top: none 1px #e0e0e0;
	border-right: solid 1px #e0e0e0;
	border-bottom: solid 1px #e0e0e0
}

.listabRectangleDown a {
	list-style: none;
	padding-left: 30px;
	background: url(../img/playbot.gif) center left no-repeat
}

.subTituloListab {
	font-size: 1.1em;
	padding: 2px;
	vertical-align: top;
	background-color: #dcdcdc;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	letter-spacing: 1px;
	white-space: nowrap;
	width: 98%;
	margin-left: 10px;
	font-weight: bold
}

.spanLisTabTitulo {
	font-size: 1.2em;
	font-weight: bold
}

.tabla_contenido ul {
	padding: 0
}

.tabla_contenido ul li {
	border-bottom: 1px solid #e0e0e0;
	padding-top: 15px;
	padding-bottom: 15px
}

.campo {
	border: 1px solid #e0e0e0;
	background: url(../img/bg-campo.gif) top repeat-x
}

button {
	padding: 1px;
	vertical-align: middle;
	cursor: pointer;
	margin: 0;
	border: 0;
	background: 0
}

.boton {
	background-color: #00a65c;
	border: 1px solid #8a8882;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	font-family: Arial;
	font-weight: bold;
	letter-spacing: .5px;
	margin-right: 2px;
	padding: 5px 8px;
	text-decoration: none;
	vertical-align: middle
}

.bt_cal {
	border: 0;
	background: url(../img/icon-cal.gif) no-repeat top;
	width: 19px;
	height: 17px;
	vertical-align: text-bottom;
	margin: 0 3px -2px 3px;
	cursor: pointer
}

#pie {
	margin: 5px auto;
	clear: left
}

#contenidoPie {
	margin: 0 10px 2px;
}

#menulegal {
	margin-left: 360px;
	height: 40px;
	text-align: right;
	padding-top: 6px
}

#menulegal ul li {
	display: inline;
	padding: 0 10px .2em 1.2em;
	list-style-type: circle;
	background-image: url(../img/trianglito.gif);
	background-position: .4em;
	background-repeat: no-repeat
}

#menulegal a {
	font-size: 1.1em;
	cursor: pointer
}

.textoPie {
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: middle;
	letter-spacing: 2px
}

.vidrio_negro {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	-moz-opacity: .5;
	opacity: .50;
	filter: alpha(opacity = 50)
}

#ico_banner {
	position: absolute;
	font-Family: tahoma;
	font-size: 12px;
	left: 20%;
	top: 40%;
	width: 60%;
	border: outset 5px #003768;
	background: white;
	margin: 0 8px 0 8px;
	font-weight: bold;
	color: #003768;
	padding: 4px 10px;
	text-align: center;
	border-radius: 10px
}

#chk_ico_cookie {
	padding-top: 2px;
	margin: 0 8px 0 0;
	line-height: 1.1em
}

#lbl_ico_cookie {
	padding-top: 2px;
	margin: 0 8px 0 0;
	line-height: 1.1em
}

.btn_ico_cookie {
	clear: none;
	padding: 2px 5px;
	margin-top: -2px;
	background-color: #fcfcfb;
	border: 1px solid #003c74 !important;
	color: black
}

.lb_content {
	display: none;
	position: absolute;
	top: 1px;
	width: 96%;
	height: 98.5%;
	margin: auto;
	margin-left: 10px;
	padding: 0 10px;
	border: 5px solid silver;
	background-color: #fff;
	-moz-box-shadow: 0 0 8px #333;
	-webkit-box-shadow: 0 0 8px #333;
	box-shadow: 0 0 8px #333;
	z-index: 1002;
	overflow: auto;
	*margin-left: -244px\9
}

.lb_content #descargaDoc {
	width: 100%;
	height: 40px;
	overflow: hidden;
	border: 1px solid #FFF;
	clear: both;
	margin: auto;
	display: block
}

.lb_content .boton {
	margin: 10px;
	float: right;
	clear: right
}

.lb_content .cajaVentana {
	width: 100%;
	height: 100%;
	overflow: hidden
}

.lb_content .cajaVentana #ventana {
	margin-top: 10px;
	width: 98%;
	height: 80%;
	overflow: hidden;
	border: 8px double silver
}

.tabla_contenido ul li .boton {
	border: solid 1px #333;
	background: url(../img/bg-bot.gif) repeat-x top;
	background-color: #5e5e5e;
	width: auto;
	padding: 4px 6px;
	text-align: center;
	font-size: 1.0;
	font-weight: bold;
	letter-spacing: .1em;
	color: #FFF;
	cursor: pointer;
	margin: 4px 0
}

.mensajetab {
	line-height: 1.4em;
	font-size: 1.1em;
	padding-left: .8em;
	list-style: none;
	text-align: justify
}

div.mensajetab {
	font-size: 1.1em;
	font-weight: bold;
	padding-right: .6em;
	padding-left: .6em;
	padding-top: .6em;
	padding-bottom: .6em;
	text-align: justify;
	border: solid 1px #eee
}

div.mensajetab50 {
	width: 49%;
	font-size: 1.1em;
	font-weight: bold;
	padding-left: .6em;
	padding-top: .6em;
	padding-bottom: .6em;
	text-align: justify;
	border: solid 1px #eee;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px
}

div.mensajetabNormal {
	font-size: 1.1em;
	font-weight: normal;
	padding-left: .6em;
	padding-top: .6em;
	padding-bottom: .6em;
	text-align: justify;
	border: solid 1px #eee;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px
}

div.mensajetab12 {
	font-size: 1.2em;
	font-weight: bold;
	padding-left: .6em;
	padding-top: .6em;
	padding-bottom: .6em;
	text-align: justify;
	border: solid 1px #eee;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px
}

div.mensajetabCenter {
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	padding-left: .6em;
	padding-top: .6em;
	padding-bottom: .6em;
	border: solid 1px #eee;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px
}

.tabla_contenedor .tabla_tope .boton {
	border: solid 1px #333;
	background: url(../img/bg-bot.gif) repeat-x top;
	background-color: #5e5e5e;
	width: auto;
	padding: 4px 2px;
	text-align: center;
	font-size: 1.0;
	font-weight: bold;
	letter-spacing: .1em;
	color: #FFF;
	cursor: pointer;
	margin: -5px -4px
}

.tabla_contenedor100 {
	width: 99%;
	margin: auto;
	padding-bottom: 10px;
	padding-left: 10px
}

.tabla_contenido_total {
	border: solid 1px #eee;
	padding: 10px;
	font-size: 1.2em
}

.pagesize {
	border-color: #979694;
	border-style: solid;
	height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #605e5f;
	background-color: #FFF
}

.pagedisplay {
	border-color: #979694;
	border-style: solid;
	height: 16px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #605e5f;
	background-color: #FFF;
	text-align: center
}

.pager {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 90%
}

th.headerSortUp {
	padding-left: 5px;
	padding-right: 2px;
	height: 20px;
	font-size: 1.2em;
	font-weight: bold;
	background-image: url(../img/sort_ascInv.gif);
	background-position: right;
	background-repeat: no-repeat;
	border-bottom: 1px dotted
}

th.headerSortDown {
	padding-left: 5px;
	padding-right: 2px;
	height: 20px;
	font-size: 1.2em;
	font-weight: bold;
	background-image: url(../img/sort_descInv.gif);
	background-position: right;
	background-repeat: no-repeat;
	border-bottom: 1px dotted
}

th.header2 {
	padding-left: 5px;
	padding-right: 2px;
	height: 20px;
	background: url(../img/bg-cabTab.gif) top repeat-x;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold
}

.header3 {
	cursor: pointer;
	background-Color: #eef1f2;
	white-space: nowrap
}

.posthidden {
	display: none
}

.postshown {
	display: inline
}

.odd {
	background-color: #FFF
}

.even {
	background-color: #f5f5f5
}

.ayudatramite {
	font-size: 1.2em;
	padding: 2px;
	text-align: justify;
	border: solid 1px #eee;
	border-top: 0;
	padding: 5px;
	font-size: 1.1em
}

.espacio40Derecha {
	padding-right: 40px
}

.cabPos3negativa {
	position: -3px
}

#botonLight {
	z-index: 1003;
	background-image: url(../img/botoncerrar.png);
	width: 116px;
	height: 31px
}

.iconoLTP {
	margin: 60px auto 30px auto
}

.textoLTP {
	font-size: 1.4em;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2em
}

.btnAtras {
	border: solid 1px #333;
	background: url(../img/bg-bot.gif) repeat-x top;
	float: left;
	width: auto;
	padding: 1px 1px;
	text-align: center;
	font-size: 1.7em;
	letter-spacing: .1em;
	text-transform: none;
	color: #FFF;
	cursor: pointer;
	margin-left: 15px
}

#lightCargando {
	width: 100%;
	height: 100%;
	z-index: 1013;
	filter: alpha(opacity = 80);
	position: absolute;
	z-index: 100;
	opacity: .8;
	background-color: #eaeaea
}

#cargando {
	position: relative;
	top: 200px;
	margin: auto;
	width: 450px;
	height: 260px;
	border: solid 5px #666;
	border-radius: 20px;
	background-color: #FFF;
	text-align: center
}

#lineaAnexo {
	width: 98%;
	height: 39px;
	border: none 0 black;
	vertical-align: top
}

.botonAnexo {
	border: solid 1px #333;
	background: url(../img/bg-bot.gif) repeat-x top;
	width: 100px;
	padding: 1px 1px;
	text-align: center;
	font-size: .8em;
	letter-spacing: .1em;
	text-transform: none;
	color: #FFF;
	cursor: pointer;
	margin-left: 0
}

.botonAnexoAdicional {
	border: solid 4px #fff;
	background-color: #8a8882;
	line-height: 1.4em;
	width: 100px;
	padding: 3px 1px;
	text-align: center;
	font-size: .9em;
	letter-spacing: .1em;
	text-transform: none;
	color: #FFF;
	cursor: pointer;
	margin-left: 0
}

.botonAnexoTam150 {
	border: solid 1px #333;
	background: url(../img/bg-bot.gif) repeat-x top;
	width: 150px;
	padding: 1px 1px;
	text-align: center;
	font-size: .6em;
	letter-spacing: .1em;
	text-transform: none;
	color: #FFF;
	cursor: pointer;
	margin-left: 0
}

.listabRectangleAdicional {
	width: 100%;
	font-size: 1.1em;
	list-style: none;
	font-weight: bold;
	margin-top: 5px;
	line-height: 1.4em
}

.listabRectangleAdicional img {
	vertical-align: middle
}

.listabRectangleAdicionalUp {
	font-size: 1.5em;
	padding: .7em;
	list-style: none;
	border-top: solid 1px #e0e0e0;
	border-left: solid 1px #e0e0e0;
	border-right: solid 1px #e0e0e0;
	border-bottom: none 1px #e0e0e0
}

.listabRectangleAdicionalDown {
	font-size: 1.5em;
	padding: .7em;
	list-style: none;
	border-top: none 1px #e0e0e0;
	border-left: solid 1px #e0e0e0;
	border-right: solid 1px #e0e0e0;
	border-bottom: solid 1px #e0e0e0
}

.filaIluminada {
	font-size: 1em
}

.filaIluminada td {
	vertical-align: top
}

.filaIluminada:hover {
	background-color: #d0d0d0;
	cursor: pointer
}

.botonPaso {
	background-color: #d8d8d8;
	line-height: 1.4em;
	width: 105px;
	padding: 3px 1px;
	text-align: center;
	font-size: .9em;
	letter-spacing: .1em;
	text-transform: none;
	color: #000;
	cursor: pointer;
	border-radius: 8px 8px 8px 8px
}

.liFirmantes {
	margin-left: 20px;
	list-style-type: disc;
	font-weight: normal
}

.liDocumentoDT {
	margin-left: 20px;
	list-style-type: square;
	white-space: normal
}

.ventana {
	background-Color: #fff
}

.first {
	align: center;
	vertical-align: middle
}

.first:hover {
	cursor: pointer
}

.prev {
	align: center;
	vertical-align: middle
}

.prev:hover {
	cursor: pointer
}

.next {
	align: center;
	vertical-align: middle
}

.next:hover {
	cursor: pointer
}

.last {
	align: center;
	vertical-align: middle
}

.last:hover {
	cursor: pointer
}

.imgUrl {
	border: 0
}

.imgUrl:hover {
	cursor: pointer
}

.textoEntrar {
	margin-left: 10px;
	overflow: hidden;
	font-size: 1.1em;
	padding-top: 4px
}

.capaTramite {
	font-size: 1.1em;
	padding-left: .6em;
	padding-top: .6em;
	padding-bottom: .6em;
	padding-right: .6em;
	text-align: left;
	border: solid 1px #eee;
	margin-bottom: 10px
}

.capaMensajes {
	width: 90%;
	margin: 10px;
	border: 1px solid #747474
}

.cabeceraMensajes {
	background-color: #575757;
	color: #fff;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-left: 10px
}

.contenidoMensajes {
	margin: 10px;
	overflow: hidden
}

#capaFlotante {
	background-color: #fff;
	position: absolute;
	z-index: 100;
	left: 50%;
	width: 49.5%
}

#botonera {
	width: 100%;
	text-align: center;
	overflow: hidden
}

#botonera ul {
	margin: 5px 0
}

#botonera ul li {
	display: inline
}

#iconosDoc ul {
	float: left;
	width: 100%
}

#iconosDoc ul li {
	float: left;
	font-size: .8em;
	width: 24%;
	padding-right: 5px
}

.it {
	font-style: italic
}

.bd {
	font-weight: bold
}

.labelTitulo {
	color: #00a65c;
	font-weight: bold;
	padding: 2px;
	margin-left: 5px;
	margin-right: 6px
}

.labelAnexos {
	display: inline-block;
	width: 25%;
	vertical-align: top
}

.btnVerAnexo {
	background-image: url(../img/descargar.png);
	*background-attachment: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	height: 32px;
	width: 32px
}

.btnBorrarAnexo {
	background-image: url(../img/borrarDoc.png);
	*background-attachment: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	height: 32px;
	width: 32px
}

#iconosListado ul {
	width: 100%
}

#iconosListado ul li {
	float: left;
	font-size: .9em;
	width: 25%;
	padding-right: 5px
}

.celdaAnexo {
	border: 1px solid #eee;
	padding-left: 5px;
	padding-top: 5px;
	font-weight: bold
}

ul#tabs {
	margin: 0;
	padding: 0;
	height: 24px;
	z-index: 20
}

ul#tabs li {
	float: left;
	height: 23px;
	padding-left: 8px;
	list-style: none;
	margin-right: 1px;
	background: url(../img/tabs.png) left -48px;
	margin-right: 5px;
	width: 21%
}

ul#tabs li.actual {
	height: 24px;
	background: url(../img/tabs.png) left -72px
}

ul#tabs li a {
	display: block; .
	display: inline-block;
	height: 23px;
	line-height: 23px;
	padding-right: 8px;
	outline: 0 none;
	font-family: arial;
	text-decoration: none;
	color: #000;
	background: url(../img/tabs.png) right 0
}

ul#tabs li.actual a {
	height: 24px;
	line-height: 24px;
	background: url(../img/tabs.png) right -24px;
	cursor: default;
	font-weight: bold
}

.capaFormulario {
	padding: 5px;
	text-align: justify;
	border: solid 1px #eee
}

.filaDocumento {
	font-size: 1.2em;
	line-height: 1em;
	padding: .4em .7em;
	list-style: none;
	background: url(../img/tri-tab2.gif) center left no-repeat
}

.firmanteDT {
	margin-top: 5px;
	margin-left: 25px
}

.firmanteDT li {
	margin-top: 4px;
	margin-left: 10px;
	list-style-type: none
}

.tablaAnexos {
	table-layout: fixed;
	width: 99%;
	margin: auto
}

.tablaAnexos td {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word
}

.lb_content span {
	margin-top: 12px;
	margin-bottom: 10px;
	float: left;
	font-size: 1.5em;
	padding: 5px;
	font-weight: bold
}

.lb_content img {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px
}

div.cnt_upload {
	position: absolute;
	height: 27px;
	width: 320px;
	display: inline
}

div.upload {
	position: absolute;
	left: 232px;
	top: 0;
	width: 80px;
	height: 24px;
	overflow: hidden;
	background: transparent url(../img/btnExaminar.png) center center
		no-repeat;
	clip: rect(0, 80px, 24px, 0)
}

div.upload input {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	filter: Alpha(Opacity = 0);
	-moz-opacity: 0;
	opacity: 0
}

.mensajetab img {
	vertical-align: middle
}

#recaptcha_widget {
	margin-top: -1.5em\9;
	padding: 0 5px 0 5px
}

#recaptcha_imagen {
	width: 100%;
	height: 85px !important
}

#recaptcha_respuesta {
	width: 100%
}

#recaptcha_image {
	border: .5em solid #e5e1e2;
	float: left;
	margin-top: .5em;
	width: 230px;
	height: 57px
}

.iconos {
	width: 50px;
	padding: 4.1em 0 0 26.5em
}

.icono_recarga {
	float: left
}

.recaptcha_only_if_audio, .recaptcha_only_if_image {
	float: right
}

#recaptcha_response_field {
	width: 20em;
	clear: both
}

#esperaApplet {
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px
}

.textoError {
	font-family: Tahoma;
	letter-spacing: 1px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 5px;
	color: #555;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em
}

.celdaCambioMovil {
	font-weight: bold;
	background-color: #f6f6f6;
	font-size: 12px;
	text-align: center;
	padding: 3px 5px
}

.enlaceAnexos {
	font-weight: bold;
	text-decoration: underline
}

.iconoHuella {
	margin-right: 5px;
	vertical-align: text-bottom;
	cursor: pointer
}

.bordeGris {
	border: 1px solid #eee
}

blockquote {
	margin-left: 25px
}

.tablaDetalle {
	margin-top: 10px;
	width: 100%
}

.btnRellenarFormulario {
	border: none;
	height: 24px;
	width: 119px;
	cursor: pointer;
	background: transparent url(../img/btnRellenarFormulario.png) center
		center no-repeat;
}

/* PF override para mensajes de error con aspecto institucional UAM
*/
.ui-messages-error, .ui-message-error {
	color: #b94a48;
	background-color: #efeff0;
	border-color: #eed3d7;
}

thead > tr > td, .dlgHeader {
  background-color: #00A65C;
  color: #ffffff;
  font-weight: bold;
  padding-top: 10px;  
  padding-right: 10px;  
  padding-bottom: 10px;  
  padding-left: 10px;
}

/* IE9 menu problema */
.box1_mid li {
	clear: both;
}

.headerNotStrong {
  background-color: #00A65C;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

/* Capa de mensaje esperando */
#waiting_layer {
	position: absolute;
	background-color: #efeff0;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
}

#gray_cover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #b5b9c9;
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	z-index: 99;
}

#toHighLight {
	padding-top: 10px;  
    padding-right: 10px;  
    padding-bottom: 10px;  
    padding-left: 10px;  
}

.rightMenuSign {
	padding-right: 5px;
	padding-bottom: 2px; 
	color: #00A65C;
	font-weight: bold;
}

